<section id='email'>
    <div>
        <h1><%= email.interested %></h1>
        <p><%= email.drop %></p>
        <button type="button" class="btn btn-lg btn-outline-light straight-corner"><%= email.send %></button>
    </div>
</section>
<section id="grateful">
    <h1><%= grateful %></h1>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://www.gov.kz/memleket/entities/mcs?lang=ru"><img src="/images/logo-sp-1.png"></a>
            </div>
            <div class="col-lg-4">
                <a href="https://almaty.fizmat.kz/"><img src="/images/logo-sp-2.png"></a>
            </div>
            <div class="col-lg-4">
                <a href="https://ngs-school.kz/ru"><img src="/images/logo-sp-3.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <a href="https://www.wclass.kz/"><img src="/images/logo-sp-4.png"></a>
            </div>
            <div class="col-lg-5">
                <a href="http://www.bolashak.kz/"><img src="/images/logo-sp-5.png"></a>
            </div>
        </div>
    </div>
</section>